body {
  margin: 0;
}

main {
  font-family: 'Popins', sans-serif;
  color: #444444;
  background-color: #F5F5F5;
}

img {
  width: 12rem;
}

h1 {
  letter-spacing: 0.6rem;
  text-align: center;
  font-weight: 400;
}

.img-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  background-color: white;
  padding: 2rem;
}

#separator {
  height: 1.5rem;
  background-color: #F5F5F5;
}